name: Ruff Linter

on:
  push:
    branches:
      - main
      - master
      - "**"

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Install dependencies
        run: uv pip install -e ".[dev]"

      - name: Run Ruff Linter
        run: uv run ruff check --fix .
